img{
    max-width:100%;
}
a{
    text-decoration:none;
}

.destopmodehide{
    display: none;
}

/* Header css start*/

    .top-header {
        background: #e7e6e6;
        text-align:center;
        max-height: 100px;
    }
    
    .middle-header {
        /* background-color: #bffdff; */
        padding: 10px;
    }
    
    .main-header {
        background-color: #000;
        padding: 5px;
    }
    
    .header-menu ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .header-menu ul li {
        display: inline-block;
        position: static;
        transition-duration: 0.2s;
    }
    
    .header-menu ul li a {
        color: #fff;
        padding: 5px 10px;
        display: block;
        font-weight: bold;
        font-size: 16px;
        transition-duration: 0.3s;
        margin: auto 0px;
    }
    
    .header-menu ul li:hover>a{
        color: #dc3545;
    }
    
    .header-menu ul li ul {
        display: none;
        position: absolute;
        width: 230px;
        z-index: 999;
        background: #fff;
        -webkit-box-shadow: 0 5px 10px 0px rgb(0 0 0 / 20%);
        border-radius: 4px;
    }
    
    .header-menu ul li:hover > ul{
        display: block;
    }
    
    .header-menu ul li:hover > .mega-menus{
        display: block;
    }
    
    ul.dropdown-menus {
        left: 100%;
        top: 0;
    }
    
    .header-menu ul li span.fa-chevron-down {
        font-size: 12px;
        margin: 5px;
        padding: 2px;
        color: #e5e5e5;
    }
    
    .header-menu ul li span.fa-angle-right {
        padding: 3px 10px;
        color: #e5e5e5;
        float: right;
    }
    
    ul.dropdown-submenus li a {
        padding: 5px 0px 5px 10px;
    }
    
    .header-menu ul li ul li {
        border-bottom: 1px solid white;
        position: relative;
        width: 100%;
    }
    
    .header-menu ul li ul li:last-child{
        border-bottom: none;
    }
    
    .sticky-header {
        width: 100%;
        -webkit-transition: all 2.5s ease;
        -moz-transition: position 10s;
        -ms-transition: position 10s;
        -o-transition: position 10s;
        transition: all 0.5s ease;
        background: white;
    }

    .sticky-header.stick {
        position: fixed;
        top: 0;
        left: 0;
        animation: smoothScroll 1s forwards;
        z-index: 99;
    }
    
    @keyframes smoothScroll {
        0% {
            transform: translateY(-40px);
        }
        100% {
            transform: translateY(0px);
        }
    }
    
        .top-header.hidesection {
            display: none;
        }
        .middle-header.hidesection {
            display: none;
        }
    
    .social {
        font-weight: bold;
    }
    
    .social a {
        color: black;
        margin-right: 10px;
        padding: 5px;
        display: inline-block;
    }
    
    .social a:hover {
        color: #198754;
    }
    .epaperBtn {
        background: #fff;
        min-width: 100px;
        font-weight: bold;
        font-size: 18px;
        font-family: none;
        border: 1px solid black;
    }
    
    .epaperBtn:hover {
        background: #030d0c;
        color: white;
    }
    
    /**Matis Menu multi larvel css Start**/
    .primarymenu {
        padding:0px;
    }

    .multi-lavel ul li {
        padding:0px;
        margin: 0px 0px;
    }

    ul.primarymenu li {
        background-image: linear-gradient(to bottom, #3298c8, #2e8cb8);
    }

    ul.primarymenu li a {
        padding: 10px;
        display: block;
        color: white;
        font-weight: bold;
    }

    ul.submenu li{
        display: none;
    }

    ul.submenu li{
        border: 0px;
    }

    ul#submenutwo{
        padding: 0;
        background: #e7e7e7;
    }
    
    ul#menu {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    ul#menu li a {
        border-bottom:1px solid #d6d4d4;
        display: inline-block;
        padding: 7px 5px 9px;;
        font-weight: bold;
        color: #000;
        width:100%;
    }   

    /**Matis Menu multi larvel css End**/


    /**Side Modals css Start**/
    .side-modals.right {
        left: -300px;
        height: 100vh;
        width: 300px;
        top: 0;
    }
    
    .side-modals.left {
        right: -300px;
        height: 100vh;
        width: 300px;
        top: 0;
    }
    
    .cart_media {
        padding: 10px 8px;
    }

    .side-modals {
        position: fixed;
        background-color: #fff;
        z-index: 9999;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .side-modals.right.open-side {
        left: 0;
    }
    
    .side-modals.left.open-side {
        right: 0;
    }

    .side-modals.open-side {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .side-modals .overlay {
        visibility: hidden;
        opacity: 0;
        background-color: #000000a3;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .side-modals.open-side .overlay {
        opacity: 0.8;
        visibility: visible;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .side-modals.right .cart-inner {
        height: 100vh;
        overflow: auto;
    }
    
    .side-modals.left .cart-inner {
        height: 100vh;
        overflow: auto;
    }

    .side-modals .cart-inner {
        background-color: #fff;
        z-index: 9;
        position: relative;
        top: 0;
    }

    .side-modals .cart-inner .cart_top {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    /**Side Modals css End**/
    
/* Header css start*/
    
    .main-container{
        min-height:1000px;
    }
    
    .top-heading-news .text h3 a {
        color: black;
        font-size: 30px;
        line-height: 27px;
    }
    .top-heading-news .text {
        margin-top: 5px;
    }
    .top-heading-news .text p {
        margin: 0;
        font-weight: 500;
        text-align: justify;
        font-size:17px;
        line-height:20px;
    }
    .top-heading-news .text h3 a:hover {
        color: #dc3545;
    }
    .top-heading-news img {
        border-radius: 5px;
    }
    
    .heading-news-list ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .heading-news-list ul li a {
        color: black;
        display: flex;
        font-size:17px;
        line-height:20px;
    }
    .heading-news-list ul li a:hover {
        color: #dc3545;
    }
    .heading-news-list ul li a img {
        width: 90px;
        height: 50px;
        margin: 0 5px 8px 0;
        border-radius:5px;
    }
    
    .sidebarAds {
        padding-top: 10px;
        text-align:center;
    }
    .videoNews {
        padding-top: 10px;
    }
    
    .news-tab {
        margin-top: 10px;
        border: 1px solid #dee2e6;
    }
    
    .news-tab .nav-tabs {
        justify-content: space-around;
    }
    
    .news-tab .nav-item {
        width: 50%;
        border: none;
    }
    
    .news-tab .nav-item .nav-link {
        width: 100%;
        border: none;
        border-radius: 0;
        color: black;
    }
    
    .news-tab .nav-item .nav-link.active {
        background: #000000;
        border-radius: 0;
        color: white;
    }
    ul.new-tab-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    ul.new-tab-list li a {
        font-size: 16px;
        color: black;
        display: flex;
        align-items: center;
        margin: 10px 0;
    }
    
    ul.new-tab-list li a h4 {
        font-size: 16px;
        margin: 0;
        width: calc(100% - 50px);
    }
    
    ul.new-tab-list li a span {
        width: 50px;
        text-align: center;
        color: #dc3545;
        display: block;
    }
    
    ul.new-tab-list li a:hover {
        color: #dc3545;
    }
    
    .heading {
        background: #eaeaea;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        height: 40px;
    }
    
    .heading .title {
        background: black;
        color: white;
        padding: 8px 10px;
        position: relative;
        font-weight: bold;
    }
    
    .heading .viewLink {
        display: inline-block;
        padding: 6px 10px;
        font-size: 18px;
        font-weight: bold;
        color: black;
    }
    
    .heading .title:before {
        content: "";
        position: absolute;
        right: -20px;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 20px solid black;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }
    
    .newsGridv1 {
        margin-bottom: 15px;
    }
    
    .newsGridv1 a {
        display: flex;
        color: black;
        font-size: 17px;
    }
    .newsGridv1 a:hover {
        color: #dc3545;
    }
    .newsGridv1 img {
        width: 170px;
        margin-right: 10px;
        border-radius: 5px;
    }
    
    .newsGridv1 span {
        display: inline-block;
        width: calc(100% - 170px);
    }
    
    .newsArea {
        margin-top: 15px;
    }
    
    .archivedCalender .ui-datepicker-inline {
        width: 100%;
    }
    .ctgNewsList {
        margin-top: 10px;
    }
    
    .ctgNewsList .featured a {
        display: block;
        position: relative;
        color: white;
    }
    
    .ctgNewsList .featured img {width: 100%;}
    
    .ctgNewsList .featured span {
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, .8) 100%);
        width: 100%;
        padding: 5px;
        padding-top: 15px;
    }
    
    .ctgNewsList ul li a span {
        width: calc(100% - 100px);
    }
    
    .ctgNewsList ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .ctgNewsList ul li {
        padding: 5px 0;
    }
    
    .ctgNewsList ul li a {
        display: flex;
        color: black;
        font-size: 17px;
    }
    
    .ctgNewsList ul li a img {
        width: 100px;
        height:80px;
        margin-right: 10px;
        border-radius:5px;
    }
    
    .ctgNewsList ul li a:hover {
        color: #dc3545;
    }
    .adsPost {
        text-align: center;
    }
    .galleryNewsList ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .galleryNewsList ul li a {
        display: flex;
        color: black;
        margin: 5px 0;
    }
    
    .galleryNewsList ul li a img {
        width: 100px;
        margin-right: 5px;
        border-radius:5px;
    }
    
    .galleryNewsList ul li a span {
        width: calc(100% - 100px);
    }
    
    .galleryNewsList ul li a:hover {
        color: #dc3545;
    }
    
    .gallerySlider .carousel-item:after {
        content: "";
        background: linear-gradient(180deg, transparent 10.87%, rgba(0, 0, 0, .6) 53.06%, #000);
        width: 100%;
        height: 50%;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
    }
    .gallerySlider .carousel-item {
        height: 350px;
    }
    .gallerySlider .carousel-item img {
        height: 100%;
    }
    
    .gallerySlider .carousel-caption {
        z-index: 1;
    }
    
    .ctgFeaturedNews .image img {
    border-radius: 5px;
}

.ctgFeaturedNews .text h3 {
    margin: 0;
    padding-top: 5px;
}

.ctgFeaturedNews {
    margin-bottom: 15px;
    background: #f8f9fa;
    padding: 8px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

.ctgFeaturedNews .text h3 a {
    color: black;
}

.ctgFeaturedNews .text h3 a:hover {
    color: #dc3545;
}

.ctgFeaturedNews .title a {
    color: black;
    display: block;
    margin-top: 5px;
}

.ctgFeaturedNews .title {
    height: 50px;
}

.ctgFeaturedNews .title a:hover {
    color: #dc3545;
}
 
 .ctgListGrid h4 a{
     color:black;
 }
 .ctgListGrid h4 a:hover{
     color:#dc3545;
 }
 
 .ctgListGrid {
    border: 1px solid #e0e0e0;
    margin: 5px 0;
}

.ctgListGrid p {
    margin: 0;
}

.ctgListGrid .col-md-9 {
    padding: 0;
}

.ctgListGrid .col-md-3 {
    padding: 0;
}

.ctgListGrid .col-md-3 img {
    height: 100%;
}

.ctgListGrid .col-md-9 .text {
    padding: 15px;
}

    .archiveNew {
        border: 1px solid #eaeaea;
        padding: 10px;
        height: 300px;
        overflow: auto;
    }
    
    .archiveNew ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .archiveNew ul li {
        padding: 5px 0;
    }
    
    .archiveNew ul li a {
        display: flex;
        color: black;
        font-size: 17px;
    }
    
    .archiveNew ul li a img {
        width: 100px;
        height:80px;
        margin-right: 10px;
        border-radius:5px;
    }
    
    .archiveNew ul li a:hover {
        color: #dc3545;
    }
    
    .tagList a {
        color: black;
        border: 1px solid gray;
        padding: 4px 15px;
        border-radius: 5px;
        margin: 5px 2px;
        display: inline-block;
    }
    
    .tagList a:hover {
        color: #dc3545;
    }
    
    .single-blog-social ul {
        list-style: none;
        padding: 0;
    }
    
    .single-blog-social ul li {
        display: inline-block;
    }
    
    .single-blog-social ul li a {
        display: inline-block;
        border: 1px solid #dbd5d5;
        padding: 5px 20px;
        border-radius: 5px;
        color: black;
    }
    
    .single-blog-social ul li a:hover {
        color: #dc3545;
        border-color: #dc3545;
    }
 
/* footer css start*/

footer{
    margin-top: 30px;
}



.main-footer{
    background-color: #e0e0e0;
    padding: 50px 0;
}

.footer-widget h3{
    color: #fff;
    margin: 0px;
    font-size: 20px;
}

.footer-widget img{
    width: 70%;
}

.footer-widget p{
    font-size: 15px;
    color: #e3e3e3;
    line-height: 18px;
    margin: 13px 0px;
}

.footer-widget ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-widget ul li{

}

.footer-widget ul li a {
    color: black;
    padding: 5px;
    display: inline-block;
    font-weight: bold;
}

.footer-widget ul li a:hover{
    color: #dc3545;
}

.bottom-footer {
    background-color: #3e3e3f;
    padding: 15px 0px;
}

.appsLink img {
    max-width: 100px;
    margin: 5px;
}
.copyright p{
    color: #fff;
    margin: 0;
}
.copyright a {
    color: #f26800;
    font-size: 16px;
}
.bottomMenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.bottomMenu ul li {
    display: -webkit-inline-box;
}

.bottomMenu ul li a {
    color: white;
    padding: 5px 10px;
}

/*footer css end*/


/**For Lablet  deviece**/
@media only screen and (max-width: 1024px) {
    .destopmodehide{
        display: block;
    }
    .mobilemodehide{
        display: none;
    }
    .main-header {
        background-color: #ffffff;
        border-bottom: 1px solid #d0cece;
        padding:0px;
    }
}


/**For Mobile small deviece**/
@media only screen and (max-width: 991px) {
    .bottomMenu ul {
        text-align: center;
    }
    .copyright p {
        text-align: center;
    }
    .ctgListGrid .col-md-3 {
        padding: 0 15px;
    }
    .ctgListGrid .col-md-9 {
        padding: 0 15px;
    }
}


@media only screen and (max-width: 767px) {
    
}